<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="mb-2">Quên mật khẩu?</h1>
                  <span>Vui lòng nhập email vào ô bên dưới.</span>
                  <p>Chúng tôi sẽ gửi thông báo tới email của bạn để hỗ trợ việc đặt lại mật khẩu.</p>
                  <hr>
                </div>
                <form class="user">
                  <div class="form-group">
                    <label for="exampleInputEmail"></label>
                    <input type="text" class="form-control form-control-user"
                           id="exampleInputEmail" placeholder="Nhập email của bạn..." name="email" #email>
                  </div>
                  <div style="float: right">
                    <button class="btn font-weight-bold mr-2" style="background-color: #616C8C; color: white; border-radius: 1.5rem" routerLink="">
                      HỦY BỎ
                    </button>
                    <button class="btn font-weight-bold" style=" background-color: #4F9B65;color: white; border-radius: 1.5rem"
                            (click)="resetPassword(email.value)">
                      ĐỒNG Ý
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
