<div class="container mt-3">
  <div class="row">
    <div class="col-1"></div>
    <div class="col" id="form">
      <div class="row mb-2"></div>
      <div class="row">
        <div class="col text-center">
          <h1>Chi tiết đề tài</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-5 mt-3" style="text-align: right">
          <img style="width: 100% !important; height: 100% !important;"
               src="{{project.image}}">
        </div>
        <div class="col-7">
          <table class="table-sm mt-4 col-12" >
            <tbody>
            <tr>
              <td>
                <b><p>Thể loại:</p></b>
              </td>
              <td>
<!--                <p >{{project.category.name}}</p>-->
              </td>
            </tr>
            <tr >
              <td >
                <b><p>Tên đề tài:</p></b>
              </td>
              <td>
                <p>{{project.name}}</p>
              </td>
            </tr>
            <tr>
              <td>
                <b><p>Nhóm thực hiện:</p></b>
              </td>
              <td>
<!--                <p>{{project.team.name}}</p>-->
              </td>
            </tr>
            <tr>
              <td>
                <b><p>Thời hạn hoàn thành:</p></b>
              </td>
              <td>
                <p>{{project.deadline}}</p>
              </td>
            </tr>
          </table>
        </div>
        <div class="col text-center">
          <button type="button"
                  class="btn font-weight-bold mt-4  "
                  style="background-color: #616C8C; color: white; border-radius: 1.5rem" [routerLink]="['/de-tai/danh-sach-de-tai']">Quay lại
          </button>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
