<div class="row">
  <div class="row note">
    <p style="font-size: 28px">
      Chi tiết tiến độ {{projectDto.teamName}} - Đề tài: <span class="text-info">{{projectDto.name}}</span>
    </p>
  </div>
</div>
<div class="container">
  <div class="note1">
    <p style="font-size: 28px">Thành viên nhóm</p>
  </div>
  <div class="row">
    <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let student of studentList">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="{{student.avatar}}">
                </div>
                <div class="team-content">
                  <h5 class="name">{{student.name}}</h5>
                  <h4 class="title">{{student.email| lowercase}}</h4>
                  <h4 class="title text-info">{{student.phone}}</h4>
                </div>
                <ul class="social">
                  <li><a href="#" aria-hidden="true">Chi tiết</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-mdb-target="#carouselExampleControls"
        data-mdb-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-mdb-target="#carouselExampleControls"
        data-mdb-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</div>
<div class="row mt-5">
  <div class="container">
    <div class="note1">
      <p style="font-size: 28px">Tiến độ nhóm</p>
    </div>
    <table class="table table-borderless">
      <tbody>
      <tr *ngFor="let report of reportList">
        <td width="40%" class="text-center">
          <!-- code cua hau-->
          <button class="btn font-weight-bold"
                  style="background-color: #4F9B65;color: white; border-radius: 1.5rem; min-width: 20%"
                  [routerLink]="['/bao-cao-tien-do/bao-cao',projectId,report.id]">{{report.name}}
          </button>
          <!-- code cua hau-->
        </td>
        <td>
          <p style="font-weight: bold">
            <span
              class="bg-success text-white" *ngIf=" report.stage == 100 ; else elseBlock">Hoàn thành <span
              class="bg-white text-black">&nbsp;{{report.dateCreate |date: 'dd/MM/yyyy h:mm a'}}</span>
            </span>
          </p>
          <p style="font-weight: bold">
            <ng-template
              class="bg-success text-white" #elseBlock>Chưa hoàn thành {{report.dateCreate |date: 'dd/MM/yyyy h:mm a'}}
            </ng-template>
          </p>
          <div class="progress" style="height: 15px;">
            <div class="progress-bar progress-bar-striped" id="stage" role="progressbar"
                 [ngStyle]="{
            width: report.stage +'%',
            background: report.backgroundColor
            }"
                 aria-valuemin="0" aria-valuemax="100">{{report.stage}}%
            </div>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

<div class="row mt-5">
  <div class="container text-center">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home"
           aria-selected="true"><span class="font-weight-bold">Đánh giá của giáo viên</span></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile"
           aria-selected="false"><span class="font-weight-bold">Báo cáo của sinh viên</span></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact"
           aria-selected="false"><span class="font-weight-bold">Thắc mắc của sinh viên</span></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="teacher-notification-tab" data-bs-toggle="tab" href="#teacher-notification" role="tab"
           aria-controls="teacher-notification"
           aria-selected="false"><span class="font-weight-bold">Thông báo của giáo viên</span></a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <div class="container">
          <div class="card" style="min-height: 1000px">
            <div class="card-body">
              <div class="card-header text-center">
                <h1 class="h1" style="color: #042440">Đánh giá của giáo viên</h1>
              </div>
              <button class="btn font-weight-bold m-3 create-button"
                      style="background-color: #4F9B65; color: white; border-radius: 1.5rem"
                      data-bs-toggle="modal" data-bs-target="#exampleModal"
                      data-bs-whatever="@getbootstrap" *ngIf="isTeacherLogging"> Tạo đánh giá
              </button>
              <div class="container">
                <div class="card p-3 my-3" *ngFor="let review of reviewList">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center">
                      <img src="{{review.avatar}}" width="60" height="60" class="user-img rounded-circle mx-2"/>
                      <h5 style="color: #4F9B65">
                        {{review.teacherName}}
                        <span>-  {{review.dateCreate|date: 'dd/MM/yyyy h:mm a'}}</span>
                      </h5>
                    </div>
                  </div>
                  <h3 class="font-weight-bold" style="color: black">{{review.title}}</h3>
                  <div class="action d-flex justify-content-start mt-1 p-3"
                       style="border: 1px solid lightgrey !important;border-radius: 1.5rem;">
                    <h5 class="text-left">
                      <span style="color: grey">Tiến độ: {{review.progressReview}} %</span>
                      <br>
                      <span style="color: grey">Nhận xét: {{review.content}}</span>
                    </h5>
                  </div>
                  <!--                                         BÌNH LUẬN TRONG ĐÁNH GIÁ                                               -->
                  <form [formGroup]="commentReviewForm" (ngSubmit)="submitReviewComment()"
                        *ngIf="commentReviewForm">
                    <div class="row">
                      <div class="col-6 text-left my-2">
                        <a data-bs-toggle="collapse" href="#collapseReviewComment{{review.id}}"
                           role="button" aria-expanded="false" aria-controls="collapseReviewComment"
                           (click)="sendReviewId(review.id)">
                          <i class="far fa-comment mx-2" style="width: 200px; font-size: 1.2rem"> Bình luận</i>
                        </a>
                      </div>
                    </div>

                    <div class="collapse" id="collapseReviewComment{{review.id}}">
                      <div class="form-group">
                                         <textarea style="border-radius: 1.5rem" id="commentReview" cols="200"
                                                   rows="5" name="comment" class="form-control"
                                                   formControlName="content">
                                         </textarea>
                        <h6 class="text-danger" *ngIf="commentReviewForm.controls.content.hasError('required')
              && commentReviewForm.controls.content.touched">
                          Vui lòng nhập nội dung trước khi gửi.
                        </h6>
                        <h6 class="text-danger" *ngIf="commentReviewForm.controls.content.hasError('maxlength')
              && commentReviewForm.controls.content.touched">
                          Vui lòng nhập không quá 100 ký tự.
                        </h6>
                        <h6 class="text-danger" *ngIf="commentReviewForm.controls.content.hasError('minlength')
              && commentReviewForm.controls.content.touched">
                          Vui lòng nhập nhiều hơn 5 ký tự.
                        </h6>
                      </div>
                      <div class="form-group mt-1 text-center"
                           style=" vertical-align: middle !important;">
                        <button type="submit" class="btn font-weight-bold ml-2 comment-concern-button"
                                [disabled]="!commentReviewForm.valid"
                                style="background-color: #4F9B65;color: white; border-radius: 1.5rem; min-width: 10%">
                          Gửi
                        </button>
                      </div>
                    </div>
                  </form>
                  <ng-container *ngFor="let commentReview of reviewCommentList">
                    <div class="user d-flex flex-row align-items-center my-1 mx-1"
                         *ngIf="review.id == commentReview.reviewId">
                      <div class="container mb-2 mt-3">
                        <div class="card">
                          <div class="row">
                            <div class="col-md-12 mt-0">
                              <div class="media my-5">
                                <div class="media-body text-left">
                                  <div class="media"><a class="pr-3" href="#">
                                    <img class="rounded-circle" alt="Bootstrap Media Another Preview"
                                         src="{{commentReview.avatar}}"/></a>
                                    <div class="media-body">
                                      <div class="row">
                                        <div class="col-12 d-flex">
                                          <h5 style="color: #4F9B65">{{commentReview.name}}
                                            <span
                                              style="font-size: 0.8rem">-  {{commentReview.dateCreate|date: 'dd/MM/yyyy h:mm a'}}</span>
                                          </h5>
                                        </div>
                                      </div>
                                      <h6 class="text-secondary text-left p-2"
                                          style="border-radius: 1.5rem; border: 1px solid lightgrey">
                                        {{commentReview.content}}
                                      </h6>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <button class="btn btn-success" *ngIf="checkLoadMore" (click)="loadMore()">Xem thêm</button>
            </div>
          </div>
        </div>
      </div>

      <!--    --------------------------------------------------------------------------------------------------------------->
      <!--                                           CODE FROM HAUND                                                     -->
      <!--                                          BÁO CÁO TIẾN ĐỘ CỦA SINH VIÊN                                                  -->

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="container">
          <div class="card" style="min-height: 1000px">
            <div class="card-header text-center">
              <h1 class="h1" style="color:#042440">Báo cáo tiến độ của sinh viên</h1>
            </div>
            <div class="card-body">
              <div class="container" style="background-color: #FFFEE0">
                <div class="row">
                  <ng-container *ngFor="let report of reportHistoryList">
                    <div class="col-3 text-right">
                      <img src="{{report.avatar}}" width="70" class="user-img rounded-circle mx-2"/>
                    </div>
                    <div class="col-9 text-left">
                      <div class="row">
                        <small class="font-weight-bold text-primary">{{report.name}}</small>
                      </div>
                      <div class="row">
                        <small style="color: #0f6848"> aa   {{report.reportProgress}}</small>
                      </div>
                      <div class="row">
                        <small class="font-weight-bold ">Nội dung báo cáo:  {{report.content}} </small>
                      </div>
                      <div class="row">
                        <small class="font-weight-bold ">Tiến độ:  {{report.stage}} % </small>
                      </div>

                      <div class="row">
                        <small class="font-weight-bold "><a href="{{report.fileReport}}" target="_blank">File đính
                          kèm</a> &nbsp; <i class="far fa-file-pdf"></i></small>
                      </div>
                      <div class="row" style="text-align: right">
                        <p>
                          {{report.dateCreate |date: 'dd/MM/yyyy h:mm a'}}
                        </p>
                      </div>
                      <hr>
                    </div>
                  </ng-container>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--    --------------------------------------------------------------------------------------------------------------->
      <!--                                      ENDCODE FROM HAUND                                              -->

      <!--    --------------------------------------------------------------------------------------------------------------->
      <!--                                           CODE FROM DONGTHG                                                     -->
      <!--                                          THẮC MẮC SINH VIÊN                                                     -->

      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="container">
          <div class="card" style="min-height: 1000px">
            <div class="card-header text-center">
              <h1 class="h1" style="color: #042440">Thắc mắc từ sinh viên</h1>
            </div>
            <div class="card-body">
              <button class="btn font-weight-bold m-3 create-button"
                      style="background-color: #4F9B65; color: white; border-radius: 1.5rem"
                      data-bs-toggle="modal" data-bs-target="#concernModal"
                      data-bs-whatever="@getbootstrap" *ngIf="isStudentLoggedIn == true"> Đăng bài viết
              </button>
              <div class="container">
                <div class="card p-3 my-3" *ngFor="let concern of concernList">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center">
                      <img src="{{concern.avatar}}" width="60" height="60" class="user-img rounded-circle mx-2"/>
                      <h5 style="color: #4F9B65">
                        {{concern.name}}
                        <span style="font-size: 0.8rem">-  {{concern.dateCreate|date: 'dd/MM/yyyy h:mm a'}}</span>
                      </h5>
                    </div>
                  </div>
                  <div>
                    <h3>
                      <span class="font-weight-bold">{{concern.title}}</span>
                    </h3>
                  </div>
                  <div class="action d-flex justify-content-start mt-1 p-3"
                       style="border: 1px solid lightgrey !important;border-radius: 1.5rem;">
                    <h5 class="text-secondary text-left p-2">
                      {{concern.content}}
                    </h5>
                  </div>
                  <div class="ml-2" style="text-align: left !important; font-size: 1.1rem;" *ngIf="concern.attachFile">
                    <a href="{{concern.attachFile}}" target="_blank">
                      <i class="fas fa-file-alt"> Bấm để xem đính kèm</i>
                    </a>
                  </div>
                  <!--                                         BÌNH LUẬN TRONG THẮC MẮC                                                -->
                  <form [formGroup]="commentConcernForm" (ngSubmit)="submitConcernComment()"
                        *ngIf="commentConcernForm">
                    <div class="action d-flex justify-content-between mt-1 align-items-center">
                      <div class="text-muted small">
                        <div class="row">
                          <div class="col-6 text-left my-2">
                            <a data-bs-toggle="collapse" href="#collapseComment{{concern.id}}"
                               role="button" aria-expanded="false" aria-controls="collapseComment"
                               (click)="sendConcernId(concern.id)">
                              <i class="far fa-comment mx-2" style="width: 200px; font-size: 1.2rem"> Bình luận</i>
                            </a>
                          </div>
                          <div class="col-6" style="text-align: right">
                            <!--                            <p>-->
                            <!--                              12/07/2021-->
                            <!--                            </p>-->
                          </div>
                        </div>
                        <div class="collapse" id="collapseComment{{concern.id}}">
                          <div class="form-group">
                                         <textarea style="border-radius: 1.5rem" id="commentConcern" cols="200"
                                                   rows="5" name="comment" class="form-control"
                                                   formControlName="content">
                                         </textarea>
                            <h6 class="text-danger" *ngIf="commentConcernForm.controls.content.hasError('required')
              && commentConcernForm.controls.content.touched">
                              Vui lòng nhập nội dung trước khi gửi.
                            </h6>
                            <h6 class="text-danger" *ngIf="commentConcernForm.controls.content.hasError('maxlength')
              && commentConcernForm.controls.content.touched">
                              Vui lòng nhập không quá 100 ký tự.
                            </h6>
                            <h6 class="text-danger" *ngIf="commentConcernForm.controls.content.hasError('minlength')
              && commentConcernForm.controls.content.touched">
                              Vui lòng nhập nhiều hơn 6 ký tự.
                            </h6>
                          </div>
                          <div class="form-group mt-1 text-center"
                               style=" vertical-align: middle !important;">
                            <label for="concern-comment-upload-file"
                                   class="btn font-weight-bold comment-concern-button mt-1"
                                   style="background-color: #0498D6; color: white; border-radius: 1.5rem; text-align: center !important; line-height: 38px">
                              Thêm file
                            </label>
                            <input type="file" hidden id="concern-comment-upload-file"
                                   formControlName="attachedFile" accept=".xlsx, .pdf, .jpg, .jpeg"
                                   [(ngModel)]="fileName" name="fileName"
                                   (change)="addFile($event)">
                            <button type="submit" class="btn font-weight-bold ml-2 comment-concern-button"
                                    [disabled]="!commentConcernForm.valid"
                                    style="background-color: #4F9B65;color: white; border-radius: 1.5rem; min-width: 10%">
                              Gửi
                            </button>
                            <ng-container *ngIf="fileName"><h6 style="color: #0498D6">File: "{{fileName}}" đã tải lên
                              thành công</h6></ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <ng-container *ngFor="let concernComment of concernCommentList">
                    <div class="user d-flex flex-row align-items-center my-1 mx-1"
                         *ngIf="concern.id == concernComment.concernId">
                      <div class="container mb-2 mt-3">
                        <div class="card">
                          <div class="row">
                            <div class="col-md-12 mt-0">
                              <div class="media my-5">
                                <div class="media-body text-left">
                                  <div class="media"><a class="pr-3" href="#">
                                    <img class="rounded-circle" alt="Bootstrap Media Another Preview"
                                         src="{{concernComment.avatar}}"/></a>
                                    <div class="media-body">
                                      <div class="row">
                                        <div class="col-12 d-flex">
                                          <h5 style="color: #4F9B65">{{concernComment.name}}
                                            <span
                                              style="font-size: 0.8rem">-  {{concernComment.dateCreate|date: 'dd/MM/yyyy h:mm a'}}</span>
                                          </h5>
                                        </div>
                                      </div>
                                      <h5 class="text-secondary text-left p-2"
                                          style="border-radius: 1.5rem; border: 1px solid lightgrey">
                                        {{concernComment.content}}
                                      </h5>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="ml-2" style="text-align: left !important; font-size: 1.1rem"
                                 *ngIf="concernComment.attachFile != null">
                              <a href="{{concernComment.attachFile}}" target="_blank">
                                <i class="fas fa-file-alt"> Bấm để xem đính kèm</i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <button class="btn btn-success" *ngIf="checkLoadMoreConcern" (click)="loadMoreConcern()">Xem thêm
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--                                              THÔNG BÁO CỦA GIÁO VIÊN                                      -->
      <div class="tab-pane fade" id="teacher-notification" role="tabpanel" aria-labelledby="teacher-notification-tab">
        <div class="container w-100">
          <div class="card" style="min-height: 1000px">
            <div class="card-header text-center">
              <h1 class="h1" style="color: #042440">Thông báo của giáo viên</h1>
            </div>
            <div class="card-body">
              <button class="btn font-weight-bold m-3 create-button"
                      style="background-color: #4F9B65; color: white; border-radius: 1.5rem;"
                      data-bs-toggle="modal" data-bs-target="#announceModal"
                      data-bs-whatever="@getbootstrap" *ngIf="isTeacherLogging"> Tạo thông báo
              </button>
              <div class="container">
                <div class="card p-3 my-3" *ngFor="let announcement of announcementList">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center">
                      <img src="{{announcement.avatar}}" width="60" height="60" class="user-img rounded-circle mx-2"/>
                      <h5 style="color: #4F9B65">
                        {{announcement.name}}
                        <span style="font-size: 0.8rem">-  {{announcement.dateCreate|date: 'dd/MM/yyyy h:mm a'}}</span>
                      </h5>
                    </div>
                  </div>
                  <div>
                    <h3>
                      <span class="font-weight-bold">{{announcement.title}}</span>
                    </h3>
                  </div>
                  <div class="action d-flex justify-content-start mt-1 p-3"
                       style="border: 1px solid lightgrey !important;border-radius: 1.5rem;">
                    <h5 class="text-secondary text-left">
                      {{announcement.content}}
                    </h5>
                  </div>
                  <div class="ml-2 mt-2" style="text-align: left !important; font-size: 1.1rem"
                       *ngIf="announcement.attachFile != null">
                    <a href="{{announcement.attachFile}}" target="_blank">
                      <i class="fas fa-file-alt"> Bấm để xem file đính kèm</i>
                    </a>
                  </div>
                  <!--                  BÌNH LUẬN TRONG THÔNG BÁO-->
                  <div class="action d-flex justify-content-between mt-1 align-items-center">
                    <div class="text-muted small">
                      <div class="row">
                        <div class="text-left my-2">
                          <a data-bs-toggle="collapse" href="#collapseAnnouncement{{announcement.id}}"
                             role="button" aria-expanded="false" aria-controls="collapseAnnouncement"
                             (click)="sendAnnouncementId(announcement.id)">
                            <i class="far fa-comment mx-2" style="width: 200px; font-size: 1.2rem"> Bình luận</i>
                          </a>
                        </div>
                      </div>
                      <form [formGroup]="commentAnnouncementForm" (ngSubmit)="submitAnnouncementComment()"
                            *ngIf="commentAnnouncementForm">
                        <div class="collapse" id="collapseAnnouncement{{announcement.id}}">
                          <div class="form-group">
                            <textarea style="border-radius: 1.5rem" id="commentAnnouncement" cols="200"
                                      rows="5" name="comment" class="form-control"
                                      formControlName="content"></textarea>
                            <h6 class="text-danger" *ngIf="commentAnnouncementForm.controls.content.hasError('required')
              && commentAnnouncementForm.controls.content.touched">
                              Vui lòng nhập nội dung.
                            </h6>
                            <h6 class="text-danger" *ngIf="commentAnnouncementForm.controls.content.hasError('maxlength')
              && commentAnnouncementForm.controls.content.touched">
                              Vui lòng nhập không quá 100 ký tự.
                            </h6>
                            <h6 class="text-danger" *ngIf="commentAnnouncementForm.controls.content.hasError('minlength')
              && commentAnnouncementForm.controls.content.touched">
                              Vui lòng nhập nhiều hơn 6 ký tự.
                            </h6>
                          </div>
                          <div class="form-group mt-1 text-center"
                               style=" vertical-align: middle !important;">
                            <label for="announcement-comment-upload-file"
                                   class="btn font-weight-bold announcement-comment-button mt-1"
                                   style="background-color: #0498D6; color: white; border-radius: 1.5rem; text-align: center !important; line-height: 38px">
                              Thêm file
                            </label>
                            <input type="file" hidden id="announcement-comment-upload-file"
                                   formControlName="attachedFile" accept=".xlsx, .pdf, .jpg, .jpeg"
                                   [(ngModel)]="fileName" name="fileName"
                                   (change)="addFile($event)">
                            <button type="submit" class="btn font-weight-bold ml-2 announcement-comment-button"
                                    [disabled]="!commentAnnouncementForm.valid"
                                    style="background-color: #4F9B65;color: white; border-radius: 1.5rem; min-width: 10%">
                              Gửi
                            </button>
                            <ng-container *ngIf="fileName"><h6 style="color: #0498D6">File: "{{fileName}}" đã tải lên
                              thành công</h6></ng-container>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!--                                                  BÌNH LUẬN CỦA THÔNG BÁO                                        -->
                  <ng-container *ngFor="let announceComment of announcementCommentList">
                    <div class="user d-flex flex-row align-items-center my-1 mx-1"
                         *ngIf="announcement.id == announceComment.announcementId">
                      <div class="container mb-5 mt-5">
                        <div class="card">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="media my-5">
                                <div class="media-body text-left">
                                  <div class="media mt-4"><a class="pr-3" href="#">
                                    <img class="rounded-circle" alt="Bootstrap Media Another Preview"
                                         src="{{announceComment.avatar}}"/></a>
                                    <div class="media-body">
                                      <div class="row">
                                        <div class="col-12 d-flex">
                                          <h5 style="color: #4F9B65">{{announceComment.name}}
                                            <span
                                              style="font-size: 0.8rem">-  {{announceComment.dateCreate|date: 'dd/MM/yyyy h:mm a'}}</span>
                                          </h5>
                                        </div>
                                      </div>
                                      <p class="text-secondary text-left">
                                        {{announceComment.content}}
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="ml-2 mt-2" style="text-align: left !important; font-size: 1.1rem"
                                 *ngIf="announceComment.attachFile">
                              <a href="{{announceComment.attachFile}}" target="_blank">
                                <i class="fas fa-file-alt"> Bấm để xem file đính kèm</i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <button class="btn btn-success" *ngIf="checkLoadMoreAnnouncement" (click)="loadMoreAnnouncement()">Xem
                thêm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- New Thread Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Đánh giá của giáo viên</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Tiêu đề:</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="title">
            <div
              *ngIf="!title?.valid && (title?.dirty ||title?.touched)">
              <div [hidden]="!title.errors.required">
                <span class="text-danger">Vui lòng nhập tiêu đề.</span>
              </div>
              <div [hidden]="!title.errors.minlength">
                <span class="text-danger"> Tiêu đề phải lớn hơn 5 ký tự.</span>
              </div>
              <div [hidden]="!title.errors.maxlength">
                <span class="text-danger"> Nội dung phải nhỏ hơn 100 ký tự.</span>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Nội dung đánh giá:</label>
            <textarea class="form-control" id="message-text" formControlName="content" rows="10"></textarea>
            <div
              *ngIf="!content?.valid && (content?.dirty ||content?.touched)">
              <div [hidden]="!content.errors.required">
                <span class="text-danger">Vui lòng nhập nội dung.</span>
              </div>
              <div [hidden]="!content.errors.minlength">
                <span class="text-danger"> Nội dung phải lớn hơn 5 ký tự.</span>
              </div>
              <div [hidden]="!content.errors.maxlength">
                <span class="text-danger"> Nội dung phải nhỏ hơn 500 ký tự.</span>
              </div>
            </div>
          </div>
          <div class="mb-3 form-group">
            <label>Đánh giá theo tỉ lệ:</label> <br>
            <input type="range" class="slider" #time (input)="time.value" id="time" min="0" max="100"
                   formControlName="progressReview">
            <p>Phần trăm: <span class="font-weight-bold">{{ time.value }}%</span></p>
            <div
              *ngIf="!progressReview?.valid && (progressReview?.dirty ||progressReview?.touched)">
              <div [hidden]="!progressReview.errors.required">
                <span class="text-danger">Vui lòng nhập đánh giá bằng tỷ lệ.</span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn font-weight-bold btn-modal"
                    style="background-color: #616C8C; color: white; border-radius: 1.5rem"
                    data-bs-dismiss="modal">
              Đóng
            </button>
            <button type="submit" class="btn font-weight-bold btn-modal" data-bs-dismiss="modal"
                    style="background-color: #4F9B65; color: white; border-radius: 1.5rem"
                    [disabled]="reviewForm.invalid">Gửi đánh giá
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!----------------------------------------CODE FROM DONGTHG------------------------------------------------------------>

<div class="modal fade" id="concernModal" tabindex="-1" aria-labelledby="concernModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title w-100 text-center" id="concernModalLabel">Thắc mắc sinh viên</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="concernForm" (ngSubmit)="submitConcern()">
          <div class="mb-3">
            <label for="concern-title" class="col-form-label">Tiêu đề <span style="color: red">*</span>
              :</label>
            <input type="text" class="form-control" id="concern-title" formControlName="title">
            <h6 class="text-danger" *ngIf="concernForm.controls.title.hasError('required')
              && concernForm.controls.title.touched">
              Vui lòng nhập tiêu đề.
            </h6>
            <h6 class="text-danger" *ngIf="concernForm.controls.title.hasError('maxlength')
              && concernForm.controls.title.touched">
              Tiêu đề không được quá 100 ký tự.
            </h6>
            <h6 class="text-danger" *ngIf="concernForm.controls.title.hasError('minlength')
              && concernForm.controls.title.touched">
              Tiêu đề phải nhiều hơn 6 ký tự.
            </h6>
          </div>
          <div class="mb-3">
            <label for="concern-content" class="col-form-label">Nội dung thắc mắc <span
              style="color: red">*</span> :</label>
            <textarea class="form-control" id="concern-content" formControlName="content" rows="10"></textarea>
            <h6 class="text-danger" *ngIf="concernForm.controls.content.hasError('required')
              && concernForm.controls.content.touched">
              Vui lòng nhập nội dung.
            </h6>
            <h6 class="text-danger" *ngIf="concernForm.controls.content.hasError('maxlength')
              && concernForm.controls.content.touched">
              Nội dung không được quá 500 ký tự.
            </h6>
            <h6 class="text-danger" *ngIf="concernForm.controls.content.hasError('minlength')
              && concernForm.controls.content.touched">
              Nội dung phải nhiều hơn 10 ký tự.
            </h6>
          </div>
          <div class="mb-3">
            <label class="col-form-label"> File đính kèm:</label>
            <label for="concern-upload-file" class="btn font-weight-bold ml-2"
                   style="background-color: #0498D6; color: white; border-radius: 1.5rem;font-size: 0.9rem"> Thêm file
            </label>
            <input type="file" hidden id="concern-upload-file"
                   formControlName="attachedFile" accept=".xlsx, .pdf, .jpg, .jpeg" [(ngModel)]="fileName"
                   name="fileName"
                   (change)="addFile($event)">
            <ng-container *ngIf="fileName"><p style="color: #0498D6">File: "{{fileName}}" đã tải lên thành công</p>
            </ng-container>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn font-weight-bold btn-modal"
                    style="background-color: #616C8C; color: white; border-radius: 1.5rem" data-bs-dismiss="modal">
              Đóng
            </button>
            <button type="submit" class="btn font-weight-bold btn-modal ml-2" data-bs-dismiss="modal"
                    [disabled]="!concernForm.valid"
                    style="background-color: #4F9B65; color: white; border-radius: 1.5rem">Gửi thắc mắc
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="announceModal" tabindex="-1" aria-labelledby="announceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title w-100 text-center" id="announceModalLabel">Thông báo của giáo viên</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="announcementForm" (ngSubmit)="submitAnnouncement()">
          <div class="mb-3">
            <label for="announcement-title" class="col-form-label">Tiêu đề <span style="color: red">*</span>
              :</label>
            <input type="text" class="form-control" id="announcement-title" formControlName="title">
            <h6 class="text-danger" *ngIf="announcementForm.controls.title.hasError('required')
              && announcementForm.controls.title.touched">
              Vui lòng nhập tiêu đề.
            </h6>
            <h6 class="text-danger" *ngIf="announcementForm.controls.title.hasError('maxlength')
              && announcementForm.controls.title.touched">
              Tiêu đề không được quá 100 ký tự.
            </h6>
            <h6 class="text-danger" *ngIf="announcementForm.controls.title.hasError('minlength')
              && announcementForm.controls.title.touched">
              Tiêu đề phải nhiều hơn 6 ký tự.
            </h6>
          </div>
          <div class="mb-3">
            <label for="announcement-content" class="col-form-label">Nội dung thông báo <span
              style="color: red">*</span> :</label>
            <textarea class="form-control" id="announcement-content" formControlName="content" rows="10"></textarea>
            <h6 class="text-danger" *ngIf="announcementForm.controls.content.hasError('required')
              && announcementForm.controls.content.touched">
              Vui lòng nhập nội dung.
            </h6>
            <h6 class="text-danger" *ngIf="announcementForm.controls.content.hasError('maxlength')
              && announcementForm.controls.content.touched">
              Nội dung không được quá 500 ký tự.
            </h6>
            <h6 class="text-danger" *ngIf="announcementForm.controls.content.hasError('minlength')
              && announcementForm.controls.content.touched">
              Nội dung phải nhiều hơn 10 ký tự.
            </h6>
          </div>
          <div class="mb-3">
            <label class="col-form-label"> File đính kèm:</label>
            <label for="announcement-upload-file" class="btn font-weight-bold ml-2"
                   style="background-color: #0498D6; color: white; border-radius: 1.5rem;font-size: 0.9rem"> Thêm file
            </label>
            <input type="file" hidden id="announcement-upload-file"
                   formControlName="attachedFile" accept=".xlsx, .pdf, .jpg, .jpeg" [(ngModel)]="fileName"
                   name="fileName"
                   (change)="addFile($event)">
            <ng-container *ngIf="fileName"><p style="color: #0498D6">File: "{{fileName}}" đã tải lên thành công</p>
            </ng-container>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn font-weight-bold btn-modal"
                    style="background-color: #616C8C; color: white; border-radius: 1.5rem" data-bs-dismiss="modal">
              Đóng
            </button>
            <button type="submit" class="btn font-weight-bold btn-modal ml-2" data-bs-dismiss="modal"
                    [disabled]="!announcementForm.valid"
                    style="background-color: #4F9B65; color: white; border-radius: 1.5rem">
              Gửi thông báo
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
</ngx-spinner>
<!--------------------------------------------------------------------------------------------------------------------->
<!--                                         CODE FROM DONGTHG                                                       -->
