<div class="row">
  <div class="row note">
    <p style="font-size: 28px">
      Chi tiết tiến độ Nhóm 1 - Đề tài: {{name}}
    </p>
  </div>
</div>
<div class="container">
  <div class="note1">
    <p style="font-size: 28px">Thành viên nhóm</p>
  </div>
  <div class="row">
    <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let student of studentList">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="{{student.avatar}}">
                </div>
                <div class="team-content">
                  <h5 class="name">{{student.name}}</h5>
                  <h4 class="title">Trưởng nhóm</h4>
                </div>
                <ul class="social">
                  <li><a href="#" aria-hidden="true">Chi tiết</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-mdb-target="#carouselExampleControls"
        data-mdb-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-mdb-target="#carouselExampleControls"
        data-mdb-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</div>
<div class="row mt-5">
  <div class="container">
    <div class="note1">
      <p style="font-size: 28px">Tiến độ nhóm</p>
    </div>
    <table class="table table-borderless">
      <tbody>
      <tr>
        <td class="text-center">
          <!-- code cua hau-->
          <button class="btn font-weight-bold"
                  style="background-color: #4F9B65;color: white; border-radius: 1.5rem; min-width: 20%"
                  [routerLink]="['/bao-cao-tien-do/bao-cao',name]">Báo
            cáo tiến độ giai đoạn 1
          </button>
          <!-- code cua hau-->
        </td>
        <td>
          <p style="font-weight: bold">Giai đoạn: 1 13-07-2021 20-07-2021 <span
            class="bg-success text-white">Hoàn thành</span>
          </p>
          <div class="progress" style="height: 15px;">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              style="width: 100%;"
              aria-valuenow="100"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              100%
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td width="40%" class="text-center">
          <button class="btn font-weight-bold"
                  style="background-color: #4F9B65;color: white; border-radius: 1.5rem; min-width: 20%">Báo
            cáo tiến độ giai đoạn 2
          </button>
        </td>
        <td>
          <p style="font-weight: bold">Giai đoạn: 1 13-07-2021 20-07-2021 <span
            class="bg-primary text-white">Đang làm</span>
          </p>
          <div class="progress" style="height: 15px;">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: 25%;"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              25%
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <button class="btn font-weight-bold"
                  style="background-color: #232300;color: white; border-radius: 1.5rem; min-width: 20%">Báo
            cáo tiến độ giai đoạn 3
          </button>
        </td>
        <td>
          <p style="font-weight: bold">Giai đoạn: 1 13-07-2021 20-07-2021 <span
            class="bg-dark text-white">Chưa mở</span>
          </p>
          <div class="progress" style="height: 15px;">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: 0%;"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              25%
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <button class="btn font-weight-bold"
                  style="background-color: #232300;color: white; border-radius: 1.5rem; min-width: 20%">Báo
            cáo tiến độ giai đoạn 4
          </button>
        </td>
        <td>
          <p style="font-weight: bold">Giai đoạn: 1 13-07-2021 20-07-2021 <span
            class="bg-dark text-white">Chưa mở</span>
          </p>
          <div class="progress" style="height: 15px;">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: 0%;"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              25%
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <button class="btn font-weight-bold"
                  style="background-color: #232300;color: white; border-radius: 1.5rem; min-width: 20%">Báo
            cáo tiến độ giai đoạn 5
          </button>
        </td>
        <td>
          <p style="font-weight: bold">Giai đoạn: 1 13-07-2021 20-07-2021 <span
            class="bg-dark text-white">Chưa mở</span>
          </p>
          <div class="progress" style="height: 15px;">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: 0%;"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              25%
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row mt-5">
  <div class="container text-center">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home"
           aria-selected="true"><span class="font-weight-bold">Đánh giá của giáo viên</span></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile"
           aria-selected="false"><span class="font-weight-bold">Báo cáo của sinh viên</span></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact"
           aria-selected="false"><span class="font-weight-bold">Thắc mắc của sinh viên</span></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="teacher-notification-tab" data-bs-toggle="tab" href="#teacher-notification" role="tab"
           aria-controls="teacher-notification"
           aria-selected="false"><span class="font-weight-bold">Thông báo của giáo viên</span></a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="card" style="min-height: 1000px">
          <div class="card-body">
            <div class="card-header text-center">
              <h1 class="h1" style="color: #042440">Đánh giá của giáo viên</h1>
            </div>
            <button class="btn font-weight-bold m-3"
                    style="background-color: #4F9B65; color: white; border-radius: 1.5rem"
                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                    data-bs-whatever="@getbootstrap"> Tạo đánh giá
            </button>
            <div class="container w-100">
              <div class="card p-3 my-3">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="user d-flex flex-row align-items-center">
                    <img src="https://i.imgur.com/hczKIze.jpg" width="30"
                         class="user-img rounded-circle mx-2"/>
                    <h6>
                      <small class="font-weight-bold text-primary">Đặng Chí Trung</small>
                    </h6>
                  </div>
                </div>
                <div>
                  <h5>
                    <small class="font-weight-bold">Tiến độ 1</small>
                  </h5>
                </div>

                <div class="action d-flex justify-content-start mt-2">
                  <div>
                    <table>
                      <tr>
                        <td>1.</td>
                        <td style="text-align: left!important;">Tiến độ create prototype bị
                          chậm, kiểm tra lại
                        </td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td style="text-align: left!important;">Thiết kế và tạo CSDL bị lỗi phần
                          user, check lại
                        </td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td style="text-align: left!important;">Create detail design chưa rõ
                          ràng
                        </td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>Mọi người tăng tốc độ làm việc, chạy deadline cho thứ 6 tuần tới
                          nha
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="action d-flex justify-content-between mt-2 align-items-center">
                  <div class="text-muted small text-center align-self-center">
                    <div class="row">
                      <table>
                        <tr>
                          <td>
                            <p>
                              <a data-bs-toggle="collapse" href="#collapseExample"
                                 role="button" aria-expanded="false"
                                 aria-controls="collapseExample">
                                <i class="far fa-comment mx-2"> Trả lời</i>
                              </a>
                            </p>
                          </td>
                          <td class="col-6" style="text-align: right">
                            <p>
                              12/07/2021
                            </p>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="collapse" id="collapseExample">
                      <div class="form-group">
                                                    <textarea style="border-radius: 1.5rem" id="comment" cols="200"
                                                              rows="5" name="comment" class="form-control"
                                                              rows="3"></textarea>
                      </div>
                      <div class="form-group mt-2" style="text-align: right!important;">
                        <button class="btn font-weight-bold"
                                style="background-color: #616C8C; color: white; border-radius: 1.5rem; min-width: 7.5%">
                          Hủy
                        </button>
                        <input hidden type="file" id="test">
                        <button class="btn font-weight-bold"
                                style="background-color: #0498D6; color: white; border-radius: 1.5rem; min-width: 10%"
                                onclick="myFunction()">
                          Chọn ảnh
                        </button>
                        <button type="button" class="btn font-weight-bold"
                                style="background-color: #4F9B65;color: white; border-radius: 1.5rem; min-width: 10%"
                        >Gửi
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="user d-flex flex-row align-items-center my-2 mx-5">
                  <table>
                    <tr>
                      <td rowspan="2" style="vertical-align: top">
                        <img src="https://i.imgur.com/C4egmYM.jpg"
                             width="30"
                             class="user-img rounded-circle mx-2">
                      </td>
                      <td style="text-align: left!important;">
                                                <span class="font-weight-bold text-primary">
                                                    Sinh viên A
                                                </span>
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align: left">
                        Cái này quá dễ với anh Công.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                        asperiores esse eum iste minus obcaecati quam repudiandae, veritatis
                        voluptas! Architecto assumenda beatae dolor enim mollitia nesciunt
                        provident quisquam quo repudiandae!
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="user d-flex flex-row align-items-center my-2 mx-5">
                  <table>
                    <tr>
                      <td rowspan="2" style="vertical-align: top">
                        <img src="https://i.imgur.com/C4egmYM.jpg"
                             width="30"
                             class="user-img rounded-circle mx-2">
                      </td>
                      <td style="text-align: left!important;">
                                                <span class="font-weight-bold text-primary">
                                                    Sinh viên B
                                                </span>
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align: left">
                        Cái này vẫn quá dễ với anh Công.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                        asperiores esse eum iste minus obcaecati quam repudiandae, veritatis
                        voluptas! Architecto assumenda beatae dolor enim mollitia nesciunt
                        provident quisquam quo repudiandae!
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="card p-3 my-3">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="user d-flex flex-row align-items-center">
                    <img src="https://i.imgur.com/ZSkeqnd.jpg"
                         width="30"
                         class="user-img rounded-circle mx-2">
                    <h6>
                      <small class="font-weight-bold text-primary">Trần Thị Tố Tâm</small>
                    </h6>
                  </div>
                </div>
                <div>
                  <h5>
                    <small class="font-weight-bold">Hoàn thành sản phẩm
                      Prototype: </small>
                  </h5>
                </div>
                <div class="action d-flex justify-content-start mt-2">
                  <div>
                    <table>
                      <tr>
                        <td>1.</td>
                        <td style="text-align: left!important;">Tiến độ create prototype bị
                          chậm, kiểm tra lại
                        </td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td style="text-align: left!important;">Thiết kế và tạo CSDL bị lỗi phần
                          user, check lại
                        </td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td style="text-align: left!important;">Create detail design chưa rõ
                          ràng
                        </td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>Mọi người tăng tốc độ làm việc, chạy deadline cho thứ 6 tuần tới
                          nha
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="action d-flex justify-content-between mt-2 align-items-center">
                  <div class="text-muted small">
                    <div class="row">
                      <table>
                        <tr>
                          <td>
                            <p>
                              <a data-bs-toggle="collapse" href="#collapseExample1"
                                 role="button" aria-expanded="false"
                                 aria-controls="collapseExample1">
                                <i class="far fa-comment mx-2"> Trả lời</i>
                              </a>
                            </p>
                          </td>
                          <td class="col-6" style="text-align: right">
                            <p>
                              12/07/2021
                            </p>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="collapse" id="collapseExample1">
                      <div class="form-group">
                                                    <textarea style="border-radius: 1.5rem" id="comment1" cols="200"
                                                              rows="5" name="comment" class="form-control"
                                                              rows="3"></textarea>
                      </div>
                      <div class="form-group mt-2" style="text-align: right!important;">
                        <button class="btn font-weight-bold"
                                style="background-color: #616C8C; color: white; border-radius: 1.5rem; min-width: 7.5%">
                          Hủy
                        </button>
                        <input hidden type="file" id="test1">
                        <button class="btn font-weight-bold"
                                style="background-color: #0498D6; color: white; border-radius: 1.5rem; min-width: 10%"
                                onclick="myFunction1()">
                          Chọn ảnh
                        </button>
                        <button type="button" class="btn font-weight-bold"
                                style="background-color: #4F9B65;color: white; border-radius: 1.5rem; min-width: 10%"
                        >Gửi
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="user d-flex flex-row align-items-center my-2 mx-5">
                  <table>
                    <tr>
                      <td rowspan="2" style="vertical-align: top">
                        <img src="https://i.imgur.com/C4egmYM.jpg"
                             width="30"
                             class="user-img rounded-circle mx-2">
                      </td>
                      <td style="text-align: left!important;">
                                                <span class="font-weight-bold text-primary">
                                                    Sinh viên C
                                                </span>
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align: left">
                        Cái này quá dễ với anh Công.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                        asperiores esse eum iste minus obcaecati quam repudiandae, veritatis
                        voluptas! Architecto assumenda beatae dolor enim mollitia nesciunt
                        provident quisquam quo repudiandae!
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="user d-flex flex-row align-items-center my-2 mx-5">
                  <table>
                    <tr>
                      <td rowspan="2" style="vertical-align: top">
                        <img src="https://i.imgur.com/C4egmYM.jpg"
                             width="30"
                             class="user-img rounded-circle mx-2">
                      </td>
                      <td style="text-align: left!important;">
                                                <span class="font-weight-bold text-primary">
                                                    Sinh viên D
                                                </span>
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align: left">
                        Cái này vẫn quá dễ với anh Công.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                        asperiores esse eum iste minus obcaecati quam repudiandae, veritatis
                        voluptas! Architecto assumenda beatae dolor enim mollitia nesciunt
                        provident quisquam quo repudiandae!
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Alo</div>-->
      <!--    --------------------------------------------------------------------------------------------------------------->
      <!--                                           CODE FROM HAUND                                                     -->
      <!--                                          BÁO CÁO TIẾN ĐỘ CỦA SINH VIÊN                                                  -->
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="container">
          <div class="card" style="min-height: 1000px">
            <div class="card-header text-center">
              <h1 class="h1" style="color:#042440">Báo cáo tiến độ của sinh viên</h1>
            </div>
            <div class="card-body">
              <div class="container" style="background-color: #FFFEE0">
                <div class="row">
                  <div class="col-3 text-right">
                    <img src="https://i.imgur.com/hczKIze.jpg" width="70" class="user-img rounded-circle mx-2"/>
                  </div>
                  <div class="col-9 text-left">
                    <div class="row">
                      <small class="font-weight-bold text-primary">Hoàng Nam</small>
                    </div>
                    <div class="row">
                      <small style="color: #0f6848"> Tiến độ 1</small>
                    </div>
                    <div class="row">
                      <small class="font-weight-bold "> Test nội dung </small>
                    </div>
                    <div class="row">
                      <small class="font-weight-bold ">Báo cáo tiến độ <i class="far fa-file-pdf"></i></small>
                    </div>
                    <div class="row" style="text-align: right">
                      <p>
                        19/07/2021
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-3 text-right">
                    <img
                      src="https://i.imgur.com/ZSkeqnd.jpg"
                      width="70"
                      class="user-img rounded-circle mx-2">
                  </div>
                  <div class="col-9 text-left">
                    <div class="row">
                      <small class="font-weight-bold text-primary">Văn Dũng</small>
                    </div>
                    <div class="row">
                      <small style="color: #0f6848"> Tiến độ 1</small>
                    </div>
                    <div class="row">
                      <small class="font-weight-bold "> Test nội dung </small>
                    </div>
                    <div class="row">
                      <small class="font-weight-bold ">Báo cáo tiến độ <i class="far fa-file-pdf"></i></small>
                    </div>
                    <div class="row" style="text-align: right">
                      <p>
                        16/07/2021
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-3 text-right">
                    <img src="https://i.imgur.com/C4egmYM.jpg"
                         width="70"
                         class="user-img rounded-circle mx-2">
                  </div>
                  <div class="col-9 text-left">
                    <div class="row">
                      <small class="font-weight-bold text-primary">Sinh viên A</small>
                    </div>
                    <div class="row">
                      <small style="color: #0f6848"> Tiến độ 1</small>
                    </div>
                    <div class="row">
                      <small class="font-weight-bold "> Test nội dung </small>
                    </div>
                    <div class="row">
                      <small class="font-weight-bold ">Báo cáo tiến độ <i class="far fa-file-pdf"></i></small>
                    </div>
                    <div class="row" style="text-align: right">
                      <p>
                        15/07/2021
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-3 text-right">
                    <img src="https://i.imgur.com/hczKIze.jpg" width="70" class="user-img rounded-circle mx-2"/>
                  </div>
                  <div class="col-9 text-left">
                    <div class="row">
                      <small class="font-weight-bold text-primary">Sinh viên B</small>
                    </div>
                    <div class="row">
                      <small style="color: #0f6848"> Tiến độ 1</small>
                    </div>
                    <div class="row">
                      <small class="font-weight-bold "> Test nội dung </small>
                    </div>
                    <div class="row">
                      <small class="font-weight-bold ">Báo cáo tiến độ <i class="far fa-file-pdf"></i></small>
                    </div>
                    <div class="row" style="text-align: right">
                      <p>
                        13/07/2021
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-3 text-right">
                    <img src="https://i.imgur.com/ZSkeqnd.jpg"
                         width="70"
                         class="user-img rounded-circle mx-2">
                  </div>
                  <div class="col-9 text-left">
                    <div class="row">
                      <small class="font-weight-bold text-primary">Sinh viên C</small>
                    </div>
                    <div class="row">
                      <small style="color: #0f6848"> Tiến độ 1</small>
                    </div>
                    <div class="row">
                      <small class="font-weight-bold "> Báo cáo tuần </small>
                    </div>
                    <div class="row">
                      <small class="font-weight-bold ">Báo cáo tiến độ <i class="far fa-file-pdf"></i></small>
                    </div>
                    <div class="row" style="text-align: right">
                      <p>
                        12/07/2021
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--    --------------------------------------------------------------------------------------------------------------->
      <!--                                      ENDCODE FROM HAUND                                              -->

      <!--    --------------------------------------------------------------------------------------------------------------->
      <!--                                           CODE FROM DONGTHG                                                     -->
      <!--                                          THẮC MẮC SINH VIÊN                                                     -->

      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="container">
          <div class="card" style="min-height: 1000px">
            <div class="card-header text-center">
              <h1 class="h1" style="color: #042440">Thắc mắc từ sinh viên</h1>
            </div>
            <div class="card-body">
              <button class="btn font-weight-bold m-3"
                      style="background-color: #4F9B65; color: white; border-radius: 1.5rem"
                      data-bs-toggle="modal" data-bs-target="#concernModal"
                      data-bs-whatever="@getbootstrap"> Tạo thắc mắc
              </button>
              <div class="container">
                <div class="card p-3 my-3" *ngFor="let concern of concernList">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center">
                      <img src="{{avatar}}" width="30" class="user-img rounded-circle mx-2"/>
                      <h6>
                        <small class="font-weight-bold text-primary">{{currentUsername}}</small>
                      </h6>
                    </div>
                  </div>
                  <div>
                    <h3>
                      <span class="font-weight-bold">{{concern.title}}</span>
                    </h3>
                  </div>
                  <div class="action d-flex justify-content-start mt-2">
                    <p class="text-secondary">
                      {{concern.content}}
                    </p>
                  </div>
                  <div style="text-align: left !important;">
                    <a href="{{concern.attachFile}}" target="_blank">File đính kèm</a>
                  </div>
                  <div class="action d-flex justify-content-between mt-2 align-items-center">
                    <div class="text-muted small">
                      <div class="row">
                        <div class="col-6">
                          <a data-bs-toggle="collapse" href="#collapseComment"
                             role="button" aria-expanded="false" aria-controls="collapseComment">
                            <i class="far fa-comment mx-2" style="width: 100px"> Bình luận</i>
                          </a>
                        </div>
                        <div class="col-6" style="text-align: right">
                          <p>
                            12/07/2021
                          </p>
                        </div>
                      </div>
                      <div class="collapse" id="collapseComment">
                        <div class="form-group">
                                         <textarea style="border-radius: 1.5rem" id="commentConcern" cols="200"
                                                   rows="5" name="comment" class="form-control" rows="3">
                                         </textarea>
                        </div>
                        <div class="form-group mt-2" style="text-align: right!important;">
                          <button class="btn font-weight-bold"
                                  style="background-color: #616C8C; color: white; border-radius: 1.5rem; min-width: 7.5%">
                            Hủy
                          </button>
                          <input hidden type="file" id="test3">
                          <button class="btn font-weight-bold"
                                  style="background-color: #0498D6; color: white; border-radius: 1.5rem; min-width: 10%"
                                  (change)="addFile($event)">
                            Chọn ảnh
                          </button>
                          <button type="button" class="btn font-weight-bold"
                                  style="background-color: #4F9B65;color: white; border-radius: 1.5rem; min-width: 10%">
                            Gửi
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="user d-flex flex-row align-items-center my-2 mx-5">
                    <table>
                      <tr>
                        <td rowspan="3" style="vertical-align: top">
                          <img src="https://i.imgur.com/C4egmYM.jpg"
                               width="30"
                               class="user-img rounded-circle mx-2">
                        </td>
                        <td style="text-align: left!important;">
                                    <span class="font-weight-bold text-primary">
                                        Sinh viên A
                                    </span>
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: left">
                          Cái này quá dễ với anh Công.
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores esse eum
                          iste minus obcaecati quam repudiandae, veritatis voluptas! Architecto assumenda
                          beatae dolor enim mollitia nesciunt provident quisquam quo repudiandae!
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: left">
                          <img src="assets/img/concern-2.png"
                               width="200" height="75">
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="user d-flex flex-row align-items-center my-2 mx-5"><img
                    src="https://i.imgur.com/ZSkeqnd.jpg"
                    width="30"
                    class="user-img rounded-circle mx-2">
                    <span>
                            <span><small class="font-weight-bold text-primary">Nguyễn Thị C</small>
                                <small class="font-weight-bold"> Giữa các component anh em hay còn gọi là sibling component thì có thể truyền dữ liệu thông qua
                            parent component hoặc Rxjs Object. Các component không có liên quan trực tiếp thì có thể dùng service để truyền dữ liệu. </small>
                            </span>
                        </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--                                              THÔNG BÁO CỦA GIÁO VIÊN                                            -->
      <div class="tab-pane fade" id="teacher-notification" role="tabpanel" aria-labelledby="teacher-notification-tab">
        <div class="container">
          <div class="card" style="min-height: 1000px">
            <div class="card-header text-center">
              <h1 class="h1" style="color: #042440">Thông báo của giáo viên</h1>
            </div>
            <div class="card-body">
              <button class="btn font-weight-bold m-3"
                      style="background-color: #4F9B65; color: white; border-radius: 1.5rem"
                      data-bs-toggle="modal" data-bs-target="#announceModal"
                      data-bs-whatever="@getbootstrap" *ngIf="isTeacherLogging"> Tạo thông báo
              </button>
              <div class="container">
                <div class="card p-3 my-3" *ngFor="let announcement of announcementList">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center">
                      <img src="{{avatar}}" width="30" class="user-img rounded-circle mx-2"/>
                      <h6>
                        <small class="font-weight-bold text-primary">{{currentUsername}}</small>
                      </h6>
                    </div>
                  </div>
                  <div>
                    <h3>
                      <span class="font-weight-bold">{{announcement.title}}</span>
                    </h3>
                  </div>
                  <div class="action d-flex justify-content-start mt-2">
                    <p class="text-secondary">
                      {{announcement.content}}
                    </p>
                  </div>
                  <div style="text-align: left !important;">
                    <a href="{{announcement.attachFile}}" target="_blank">File đính kèm</a>
                  </div>
                  <div class="action d-flex justify-content-between mt-2 align-items-center">
                    <div class="text-muted small">
                      <div class="row">
                        <div class="col-6">
                          <a data-bs-toggle="collapse" href="#collapseExample"
                             role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="far fa-comment mx-2" style="width: 100px"> Bình luận</i>
                          </a>
                        </div>
                        <div class="col-6" style="text-align: right">
                          <p>
                            12/07/2021
                          </p>
                        </div>
                      </div>
                      <div class="collapse" id="collapseAnnouncement">
                        <div class="form-group">
                                         <textarea style="border-radius: 1.5rem" id="comment-announcement" cols="200"
                                                   rows="5" name="comment" class="form-control" rows="3">
                                         </textarea>
                        </div>
                        <div class="form-group mt-2" style="text-align: right!important;">
                          <button class="btn font-weight-bold"
                                  style="background-color: #616C8C; color: white; border-radius: 1.5rem; min-width: 7.5%">
                            Hủy
                          </button>
                          <input hidden type="file" id="test5">
                          <button class="btn font-weight-bold"
                                  style="background-color: #0498D6; color: white; border-radius: 1.5rem; min-width: 10%"
                                  onclick="myFunction()"
                                  (change)="addFile($event)">
                            Chọn ảnh
                          </button>
                          <button type="button" class="btn font-weight-bold"
                                  style="background-color: #4F9B65;color: white; border-radius: 1.5rem; min-width: 10%">
                            Gửi
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="user d-flex flex-row align-items-center my-2 mx-5">
                    <table>
                      <tr>
                        <td rowspan="3" style="vertical-align: top">
                          <img src="https://i.imgur.com/C4egmYM.jpg"
                               width="30"
                               class="user-img rounded-circle mx-2">
                        </td>
                        <td style="text-align: left!important;">
                                    <span class="font-weight-bold text-primary">
                                        Sinh viên A
                                    </span>
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: left">
                          Cái này quá dễ với anh Công.
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores esse eum
                          iste minus obcaecati quam repudiandae, veritatis voluptas! Architecto assumenda
                          beatae dolor enim mollitia nesciunt provident quisquam quo repudiandae!
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: left">
                          <img src="image/toptal-blog-image-1518523133236-d2bc894552c77f954f1e5ce48da6604d.png"
                               width="200" height="75">
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="user d-flex flex-row align-items-center my-2 mx-5">
                    <table>
                      <tr>
                        <td rowspan="3" style="vertical-align: top">
                          <img src="https://i.imgur.com/ZSkeqnd.jpg"
                               width="30"
                               class="user-img rounded-circle mx-2">
                        </td>
                        <td style="text-align: left!important;">
                                    <span class="font-weight-bold text-primary">
                                        Sinh viên C
                                    </span>
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: left">
                          Cái này quá dễ với anh Công.
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores esse eum
                          iste minus obcaecati quam repudiandae, veritatis voluptas! Architecto assumenda
                          beatae dolor enim mollitia nesciunt provident quisquam quo repudiandae!
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: left">
                          <img src="assets/img/concern-2.png"
                               width="200" height="75">
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--------------------------------------------END CODE FROM DONGTHG---------------------------------------------------->
  </div>
</div>
<!-- New Thread Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog modal-lg">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Đánh giá của giáo viên</h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <form>-->
<!--          <div class="mb-3">-->
<!--            <label for="recipient-name" class="col-form-label">Tiêu đề:</label>-->
<!--            <input type="text" class="form-control" id="recipient-name">-->
<!--          </div>-->
<!--          <div class="mb-3">-->
<!--            <label for="message-text" class="col-form-label">Nội dung đánh giá:</label>-->
<!--            <textarea class="form-control" id="message-text"></textarea>-->
<!--          </div>-->
<!--          <div class="mb-3 form-group">-->
<!--            <label>Đánh giá theo tỉ lệ:</label> <br>-->
<!--            <div class="form-check form-check-inline">-->
<!--              <input class="form-check-input" type="radio" name="inlineRadioOptions"-->
<!--                     id="inlineRadio1"-->
<!--                     value="option1">-->
<!--              <label class="form-check-label" for="inlineRadio1">0%</label>-->
<!--            </div>-->
<!--            <div class="form-check form-check-inline">-->
<!--              <input class="form-check-input" type="radio" name="inlineRadioOptions"-->
<!--                     id="inlineRadio2"-->
<!--                     value="option2">-->
<!--              <label class="form-check-label" for="inlineRadio2">25%</label>-->
<!--            </div>-->
<!--            <div class="form-check form-check-inline">-->
<!--              <input class="form-check-input" type="radio" name="inlineRadioOptions"-->
<!--                     id="inlineRadio3"-->
<!--                     value="option1">-->
<!--              <label class="form-check-label" for="inlineRadio1">50%</label>-->
<!--            </div>-->
<!--            <div class="form-check form-check-inline">-->
<!--              <input class="form-check-input" type="radio" name="inlineRadioOptions"-->
<!--                     id="inlineRadio4"-->
<!--                     value="option2">-->
<!--              <label class="form-check-label" for="inlineRadio2">75%</label>-->
<!--            </div>-->
<!--            <div class="form-check form-check-inline">-->
<!--              <input class="form-check-input" type="radio" name="inlineRadioOptions"-->
<!--                     id="inlineRadio5"-->
<!--                     value="option2">-->
<!--              <label class="form-check-label" for="inlineRadio2">100%</label>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn font-weight-bold btn-modal"-->
<!--                style="background-color: #616C8C; color: white; border-radius: 1.5rem" data-bs-dismiss="modal">-->
<!--          Đóng-->
<!--        </button>-->
<!--        <button type="button" class="btn font-weight-bold btn-modal"-->
<!--                style="background-color: #4F9B65; color: white; border-radius: 1.5rem">Gửi đánh giá-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--------------------------------------------------------------------------------------------------------------------->
<!--                             CODE FROM DONGTHG                                                                   -->
<div class="modal fade" id="concernModal" tabindex="-1" aria-labelledby="concernModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title w-100 text-center" id="concernModalLabel">Thắc mắc sinh viên</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="concernForm" (ngSubmit)="submitConcern()" *ngIf="concernForm">
          <div class="mb-3">
            <label for="concern-title" class="col-form-label">Tiêu đề <span style="color: red">*</span>
              :</label>
            <input type="text" class="form-control" id="concern-title" formControlName="title">
            <small class="text-danger" *ngIf="concernForm.controls.title.hasError('required')
              && concernForm.controls.title.touched">
              Vui lòng nhập tiêu đề.
            </small>
            <small class="text-danger" *ngIf="concernForm.controls.content.hasError('maxlength')
              && concernForm.controls.content.touched">
              Tiêu đề không được quá 100 ký tự.
            </small>
          </div>
          <div class="mb-3">
            <label for="concern-content" class="col-form-label">Nội dung thắc mắc <span
              style="color: red">*</span> :</label>
            <textarea class="form-control" id="concern-content" formControlName="content"></textarea>
            <small class="text-danger" *ngIf="concernForm.controls.content.hasError('required')
              && concernForm.controls.content.touched">
              Vui lòng nhập nội dung.
            </small>
          </div>
          <div class="mb-3">
            <label class="col-form-label"> File đính kèm:</label>
            <label for="concern-upload-file" class="btn font-weight-bold"
                   style="background-color: #0498D6; color: white; border-radius: 1.5rem"> Thêm file
            </label>
            <input type="file" hidden id="concern-upload-file"
                   formControlName="attachedFile" accept=".xlsx, .pdf, .jpg, .jpeg"
                   (change)="addFile($event)">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn font-weight-bold btn-modal"
                    style="background-color: #616C8C; color: white; border-radius: 1.5rem" data-bs-dismiss="modal">
              Đóng
            </button>
            <button type="submit" class="btn font-weight-bold btn-modal" data-bs-dismiss="modal"
                    style="background-color: #4F9B65; color: white; border-radius: 1.5rem">Gửi thắc mắc
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="announceModal" tabindex="-1" aria-labelledby="announceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title w-100 text-center" id="announceModalLabel">Thông báo của giáo viên</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="announcementForm" (ngSubmit)="submitAnnouncement()" *ngIf="announcementForm">
          <div class="mb-3">
            <label for="announcement-title" class="col-form-label">Tiêu đề <span style="color: red">*</span>
              :</label>
            <input type="text" class="form-control" id="announcement-title" formControlName="title">
            <small class="text-danger" *ngIf="announcementForm.controls.title.hasError('required')
              && announcementForm.controls.title.touched">
              Vui lòng nhập tiêu đề.
            </small>
            <small class="text-danger" *ngIf="announcementForm.controls.content.hasError('maxlength')
              && announcementForm.controls.content.touched">
              Tiêu đề không được quá 100 ký tự.
            </small>
          </div>
          <div class="mb-3">
            <label for="announcement-content" class="col-form-label">Nội dung thông báo <span
              style="color: red">*</span> :</label>
            <textarea class="form-control" id="announcement-content" formControlName="content"></textarea>
            <small class="text-danger" *ngIf="announcementForm.controls.content.hasError('required')
              && announcementForm.controls.content.touched">
              Vui lòng nhập nội dung.
            </small>
          </div>
          <div class="mb-3">
            <label class="col-form-label"> File đính kèm:</label>
            <label for="announcement-upload-file" class="btn font-weight-bold"
                   style="background-color: #0498D6; color: white; border-radius: 1.5rem"> Thêm file
            </label>
            <input type="file" hidden id="announcement-upload-file"
                   formControlName="attachedFile" accept=".xlsx, .pdf, .jpg, .jpeg"
                   (change)="addFile($event)">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn font-weight-bold btn-modal"
                    style="background-color: #616C8C; color: white; border-radius: 1.5rem" data-bs-dismiss="modal">
              Đóng
            </button>
            <button type="submit" class="btn font-weight-bold btn-modal" data-bs-dismiss="modal"
                    style="background-color: #4F9B65; color: white; border-radius: 1.5rem">Gửi thông báo
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------->

