<div class="container">
    <div class="mainContent row">
        <!-- left side -->
        <div class="userListWrapper col-sm-3">

            <div class="row justify-content-center">
                <div class="btn-group dropend mt-2">
                    <button type="button" class="btn font-weight-bold dropdown-toggle"
                     data-bs-toggle="dropdown" aria-expanded="false"
                     style="background-color: #0498D6;color: white; border-radius: 1.5rem; max-width: 70%"
                     (click)="getUsersNotInGroup()">
                     Thêm thành viên
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <h6 class="dropdown-header">Thêm bằng email</h6>
                            <div class="dropdown-item d-flex align-items-center">
                                <!-- <input type="text" class="form-control" [formControl]="userEmail"> -->
                                <select class="form-select form-select-sm"
                                aria-label=".form-select-sm example" [formControl]="userEmail">
                                    <option value='' disabled>Chọn email thành viên</option>
                                    <option *ngFor="let user of usersNotInGroup" [value]="user">
                                        {{ user }}
                                    </option>
                                  </select>
                            </div>
            
                            <div class="dropdown-item d-flex align-items-center justify-content-end">
                                <button class="btn"
                                style="background-color: #4F9B65;color: white; border-radius: 1.5rem; min-width: 20%"
                                (click)="addNewMember()">
                                    Xác nhận
                                </button>
                            </div>
                        </li>
                    </ul>
                  </div>
            </div>

            <!-- <div class="dropdown no-arrow mx-1">
                <button type="button" class="btn font-weight-bold dropdown-toggle" id="addNewMember"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                     style="background-color: #0498D6;color: white; border-radius: 1.5rem; max-width: 70%">
                     Thêm thành viên
                </button>
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="addNewMember">
                    <h6 class="dropdown-header">Thêm bằng email</h6>
                    <div class="dropdown-item d-flex align-items-center">
                        <input type="text" class="form-control" [formControl]="userEmail">
                    </div>
    
                    <div class="dropdown-item d-flex align-items-center justify-content-end">
                        <button class="btn"
                        style="background-color: #4F9B65;color: white; border-radius: 1.5rem; min-width: 20%"
                        (click)="addNewMember()">
                        Xác nhận
                        </button>
                    </div>
                </div>
            </div> -->

            <hr class="sidebar-divider">
            <div class="row">
                <app-user-list [doUpdateUsersInGroup]="doUpdateUsersInGroup" [groupName]="groupName"></app-user-list>
            </div>
        </div>
        <!-- right side -->
        <div class="feedWrapper col-sm-9">
            <div #scroller class="chatFeedWrapper row">
                <app-message-feed [groupName]="groupName"></app-message-feed>
            </div>
            
            <!-- <div class="chatFormWrapper">
            </div> -->
            <app-chat-form [groupName]="groupName" class="row mt-3"></app-chat-form>

        </div>
    </div>    
</div>
