
.mainContent {
    height: 430px;
    /* border: 1px solid rgb(131, 127, 127); */
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
    margin: 0px 5px 0px 5px;
    padding: 0 5px 20px 0;
    background-color: #e6eaea;
}

.feedWrapper {
    padding-right: 7px;
}

.chatFeedWrapper {
    min-height: 350px;
    max-height: 350px;
    color: #fff;
    background: 
    linear-gradient(181deg, rgba(100,200,255,0.6), rgba(0, 0, 0, 0.9));
    overflow-y: scroll;
    padding:20px 0px 0px 24px;
    border-radius: 10px;
    box-shadow: -5px 10px 18px #7d82d1;
}

app-user-list {
    max-height: 220px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.new-member {
    border: none;
    font-size: 14px;
}

.new-member:hover {
    background-color: rgb(82, 85, 77);
    /* font-size: 15px; */
    color: white;
    cursor: pointer;
}

.newMemberList {
    max-height: 300px;
    overflow-y: scroll;
}