<!-- Sidebar -->
<ul *ngIf="isLoggedIn" class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">


  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
      <!-- <img class="img-profile rounded-circle" src="img/undraw_profile.svg"> -->
    </div>
    <div class="sidebar-brand-text mx-3">{{name}}</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Home page -->
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-home"></i>
      <span>Trang Chủ</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">


  <!-- Nav Item - Student Management-->
  <li class="nav-item">
    <a class="nav-link" href="index.html" [routerLink]="['/hoc-sinh/danh-sach']">
      <!-- <i class="fas fa-user"></i> -->
      <i class="fas fa-user-graduate"></i>
      <span>Quản Lý Sinh Viên</span>
    </a>

  <!-- Divider -->
  <hr class="sidebar-divider">

    <!-- Nav Item - Charts -->
 <li class="nav-item">
      <div *ngIf="user.username.charAt('^(SV)') !=-1 then student; else teacher"></div>
      <ng-template #student>
        <div *ngIf="studentTS.team.id ==1 then studentNew; else studentOld"></div>
        <ng-template #studentNew>
          <a class="nav-link" routerLink="/nhom/dang-ky" >
            <i class="fas fa-users"></i>
            <span>Quản Lý Nhóm</span></a>
        </ng-template >
        <ng-template #studentOld>
          <a class="nav-link" routerLink="/nhom/quan-ly-nhom" >
            <i class="fas fa-users"></i>
            <span>Quản Lý Nhóm</span></a>
        </ng-template>
      </ng-template>
      <ng-template #teacher>
        <a class="nav-link" routerLink="nhom/danh-sach">
          <i class="fas fa-users"></i>
          <span>Quản Lý Nhóm</span></a>
      </ng-template>
    </li>
  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Charts -->
  <li class="nav-item">

    <a class="nav-link" href="nhom/danh-sach">

      <!--         <a class="nav-link" routerLink="/nhom/dang-ky" > -->

      <i class="fas fa-users"></i>
      <span>Quản Lý Nhóm</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/de-tai/dang-ky">
      <i class="fas fa-atom"></i>
      <span>Quản Lý Đề Tài</span></a>
  </li>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <a class="nav-link" routerLink="/quan-ly-tien-do/danh-sach-tien-do">
      <i class="fas fa-atom"></i>
      <span>Quản Lý Tiến Độ</span></a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Nav Item - Tables -->
  <li class="nav-item">
      <a class="nav-link" [routerLink]="['/thong-ke/de-tai']" routerLinkActive="active" >
          <i class="fas fa-chart-bar"></i>
          <span>Thống Kê</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Nav Item - Student -->
  <li class="nav-item">
    <a class="nav-link" href="index.html">
      <i class="fas fa-inbox"></i>
      <span>Liên Hệ</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Sidebar Toggler (Sidebar) -->
  <!-- <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div> -->



</ul>
<!-- End of Sidebar -->
