<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-7 d-none d-lg-block bg-change-password-image"></div>
            <div class="col-lg-5">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="mb-4">Đổi mật khẩu</h1>
                  <hr>
                </div>
                <form class="user">
                  <div class="form-group">
                    <label for="oldPassword">Mật khẩu cũ <sup style="color: red">*</sup></label>
                    <input type="password" class="form-control form-control-user"
                           id="oldPassword" placeholder="Nhập mật khẩu cũ">
                    <span class="validate-msg">Vui lòng nhập mật khẩu cũ.</span>
                  </div>
                  <div class="form-group">
                    <label for="newPassword">Mật khẩu mới <sup style="color: red">*</sup></label>
                    <input type="password" class="form-control form-control-user"
                           id="newPassword" placeholder="Nhập mật khẩu mới">
                    <span class="validate-msg">Vui lòng nhập mật khẩu mới.</span>
                  </div>
                  <div class="form-group">
                    <label for="confirmPassword">Xác nhận mật khẩu <sup style="color: red">*</sup></label>
                    <input type="password" class="form-control form-control-user"
                           id="confirmPassword" placeholder="Nhập lại mật khẩu mới">
                    <span class="validate-msg">Vui lòng nhập lại mật khẩu mới.</span>
                  </div>
                  <div style="float: right">
                    <button class="btn font-weight-bold" style="background-color: #616C8C; color: white; border-radius: 1.5rem">HỦY BỎ</button>
                    <button class="btn font-weight-bold" style="color: white;background-color: #4F9B65; border-radius: 1.5rem">ĐỒNG Ý</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
