<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-change-password-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="mb-4">Đổi mật khẩu</h1>
                  <hr>
                </div>
                <form class="user" [formGroup]="changePasswordForm" (ngSubmit)="submit()">
<!--                  old password-->
                  <div class="form-group">
                    <label for="oldPassword">Mật khẩu cũ <span class="text-danger">*</span></label>
                    <input type="password" class="form-control form-control-user"
                           id="oldPassword" placeholder="Nhập mật khẩu cũ" formControlName="oldPassword">
                    <span class="text-danger" *ngIf="changePasswordForm.controls.oldPassword.hasError('required')
                         && changePasswordForm.controls.oldPassword.dirty">Vui lòng nhập mật khẩu. </span>
                    <span class="text-danger" *ngIf="changePasswordForm.controls.oldPassword.hasError('minlength')
                         && changePasswordForm.controls.oldPassword.dirty">Mật khẩu phải từ 6-30 ký tự. </span>
                    <span class="text-danger" *ngIf="changePasswordForm.controls.oldPassword.hasError('maxlength')
                         && changePasswordForm.controls.oldPassword.dirty">Mật khẩu phải từ 6-30 ký tự. </span>
                  </div>

                  <ng-container formGroupName="pwGroup">
<!--                  new password  -->
                  <div class="form-group">
                    <label for="newPassword">Mật khẩu mới <span class="text-danger">*</span></label>
                    <input type="password" class="form-control form-control-user"
                           id="newPassword" placeholder="Nhập mật khẩu mới" formControlName="password"/>
                    <span class="text-danger" *ngIf="getPassword?.hasError('required')
                         && (getPassword?.dirty || getPassword?.touched)">Vui lòng nhập mật khẩu. </span>
                    <span class="text-danger" *ngIf="getPassword?.hasError('minlength')
                         && (getPassword?.dirty || getPassword?.touched)">Mật khẩu phải từ 6-30 ký tự. </span>
                    <span class="text-danger" *ngIf="getPassword?.hasError('maxlength')
                         && (getPassword?.dirty || getPassword?.touched)">Mật khẩu phải từ 6-30 ký tự. </span>
                  </div>

<!--                  confirm password-->
                  <div class="form-group">
                    <label for="confirmPassword">Xác nhận mật khẩu <span class="text-danger">*</span></label>
                    <input type="password" class="form-control form-control-user"
                           id="confirmPassword" placeholder="Nhập lại mật khẩu mới" formControlName="confirmPassword"/>
                    <span class="text-danger" *ngIf="pwGroup?.hasError('passwordNotMatch') && pwGroup?.dirty">
                        Xác nhận mật khẩu không đúng.
                    </span>
                  </div>

                  </ng-container>

                  <div style="float: right">
                    <a class="btn font-weight-bold mr-2" style="background-color: #616C8C; color: white; border-radius: 1.5rem" (click)="cancel()">HỦY BỎ</a>
                    <button class="btn font-weight-bold" [disabled]="!changePasswordForm.valid" style="color: white;background-color: #4F9B65; border-radius: 1.5rem">ĐỒNG Ý</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
