<div class="container">
    <div class="row text-center mb-4">
      <h1>Thống kê đề tài</h1>
    </div>

    <div class="row">
      <div class="col-sm-1"></div>

      <div class="col-sm-2" style="text-decoration: underline; font-size: 20px;">
        YÊU CẦU THỐNG KÊ:
      </div>
      <div class="col-sm-2">
      <button class="btn font-weight-bold" routerLink="/thong-ke/de-tai"
        style="background-color: #4F9B65;color: white; border-radius: 1.5rem; min-width: 20%; font-size: 14px;">
        Danh mục đề tài
      </button>
      </div>
      <!-- <div class="col-sm-1"></div> -->
      <div class="col-sm-3">
        <button class="btn font-weight-bold" routerLink="/thong-ke/giao-vien"
          style="background-color: #F27F3D; color: white; border-radius: 1.5rem; min-width: 20%; font-size: 14px;">
          Giáo viên hướng dẫn
        </button>
      </div>
      <div class="col-sm-4"></div>
    </div>

    <div class="row mt-4">
      <div class="col-sm-8">
        <div id="chart">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [yaxis]="chartOptions.yaxis"
            [xaxis]="chartOptions.xaxis"
            [legend]="chartOptions.legend"
            [colors]="chartOptions.colors"
            [grid]="chartOptions.grid"
            [title]="chartOptions.title"
          ></apx-chart>
        </div>
      </div>
      <div class="col-sm-3">
        <app-general-category-statistic [duplicatedCategories]="duplicatedCategories"></app-general-category-statistic>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
  
