<!--Tam update list teacher FE-->
<div class="container-fluid p-0">
  <h1 class="text-center p-5">Danh Sách Giảng
    Viên</h1>
  <div class="row w-75 m-auto p-0">
    <div class="col-12 col-sm-5 col-md-4 col-lg-3 mb-3">
      <button class="btn font-weight-bold dropdown-toggle" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false"
              style="background-color: #4F9B65;color: white; border-radius: 1.5rem; min-width: 20%">
        <i class="fas fa-plus-circle"></i> Thêm mới giảng viên
      </button>
      <ul style="border-radius: 1rem; background-color: #4F9B65" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li ><a style="border-radius: 1.5rem; color: white" class="dropdown-item" routerLink="/them-moi">Thêm mới 1 giảng viên</a></li>
        <li><a style="border-radius: 1.5rem; color: white" class="dropdown-item" routerLink="/excel/create-teacher-excel">Thêm mới nhiều giảng viên bằng excel</a></li>
      </ul>
    </div>
    <div class="col-md-4 col-lg-5"></div>
    <div class="col-12 col-sm-7 col-md-4 col-lg-4 mb-3">
      <div style="height: 52px;">
        <input id="search" type="text" class="form-control" placeholder="Tìm kiếm" #searchKeyword
               style="display: inline-block; width: 85%;margin-top: 6px;border-radius: 1.5rem;"/>
        <button (click)="search(searchKeyword.value)"  class="btn btn-default" title="Reload" style="padding: 5px;width: 15%; display: inline-block; float: right;margin-top: 6px;border-radius: 1.5rem">
          <i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
  <div class="row w-75 m-auto p-0">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let teacher of teacherList | slice: (page-1) * pageSize : page * pageSize">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="{{teacher.image}}">
        </div>
        <div class="team-content">
          <h4 class="name">{{teacher.name}}</h4>
          <hr>
          <p><b>Mã giảng viên: </b>{{teacher.code}}</p>
          <p><b>Email: </b>{{teacher.email}}</p>
          <p><b>ĐT: </b>{{teacher.phone}}</p>
          <ng-container *ngFor="let faculty of facultyList">
            <p *ngIf="faculty.id == teacher.facultyId"><b>Khoa: </b>{{faculty.name}}</p>
          </ng-container>
        </div>
        <ul class="social">
          <li><a [href]="teacher.facebook" aria-hidden="true"><i
            class="fab fa-facebook"></i></a></li>
          <li><a [href]="teacher.twitter" aria-hidden="true"><i
            class="fab fa-twitter-square"></i></a></li>
          <li><a [routerLink]="['/cap-nhat/',teacher.code]" aria-hidden="true"><i
            class="fas fa-eye"></i></a></li>
          <li class="delete"><a data-mdb-toggle="modal" data-mdb-target="#exampleModal" aria-hidden="true"><i
            class="fas fa-times" (click)="sendIdToComponent(teacher.code)"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="clearfix">
      <div class="hint-text">Hiển thị <b>{{pageSize}}</b> trên <b>{{collectionSize}}</b> đối tượng</div>
      <ngb-pagination class="d-flex justify-content-end"
                      [(page)]="page"
                      [pageSize]="pageSize"
                      [collectionSize]="collectionSize"
                      [maxSize]="3"
                      [rotate]="true"
                      [ellipses]="true"
                      [boundaryLinks]="true">
        <ng-template ngbPaginationFirst>Trước</ng-template>
        <ng-template ngbPaginationLast>Sau</ng-template>
        <ng-template ngbPaginationEllipsis>...</ng-template>
        <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
      </ngb-pagination>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" tabindex="-1" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #4F9B65;">
        <h5 class="modal-title w-100 text-center text-white" id="exampleModalLabel">Xóa Giảng Viên</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa giảng viên <span style="color: red">{{deleteTeacherName}}</span> khỏi danh sách không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn font-weight-bold"
                style="background-color: #616C8C; color: white; border-radius: 1.5rem; min-width: 20%" data-mdb-dismiss="modal">
          Hủy
        </button>
        <button type="button" class="btn font-weight-bold" data-mdb-dismiss="modal"
                style="background-color: #F22248; color: white; border-radius: 1.5rem; min-width: 20%">Xóa
        </button>
      </div>
    </div>
  </div>
</div>
<!--Tam update create teacher FE-->
