<div class="row">
  <div class="row note">
    <p style="font-size: 28px">
      Chi tiết tiến độ Nhóm 1 - Đề tài: Quản lý đặt phòng
    </p>
  </div>
</div>
<div class="container">
  <div class="note1">
    <p style="font-size: 28px">Thành viên nhóm</p>
  </div>
  <div class="row">
    <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
                </div>
                <div class="team-content">
                  <h5 class="name">Nguyễn Thanh Công</h5>
                  <h4 class="title">Trưởng nhóm</h4>
                </div>
                <ul class="social">
                  <li><a href="#" aria-hidden="true">Chi tiết</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="https://picsum.photos/130/130?image=839">
                </div>
                <div class="team-content">
                  <h5 class="name">Nguyễn Đức Hậu</h5>
                  <h4 class="title">Thành viên</h4>
                </div>
                <ul class="social">
                  <li><a href="#" aria-hidden="true">Chi tiết</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="https://picsum.photos/130/130?image=856">
                </div>
                <div class="team-content">
                  <h5 class="name">Nguyễn Quốc Tuấn</h5>
                  <h4 class="title">Thành viên</h4>
                </div>
                <ul class="social">
                  <li><a href="#" aria-hidden="true">Chi tiết</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="https://picsum.photos/130/130?image=836">
                </div>
                <div class="team-content">
                  <h5 class="name">Nguyễn Huy</h5>
                  <h4 class="title">Thành viên</h4>
                </div>
                <ul class="social">
                  <li><a href="#" aria-hidden="true">Chi tiết</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
                </div>
                <div class="team-content">
                  <h5 class="name">Nguyễn Thanh Công</h5>
                  <h4 class="title">Trưởng nhóm</h4>
                </div>
                <ul class="social">
                  <li><a href="#" aria-hidden="true">Chi tiết</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="https://picsum.photos/130/130?image=839">
                </div>
                <div class="team-content">
                  <h5 class="name">Nguyễn Đức Hậu</h5>
                  <h4 class="title">Thành viên</h4>
                </div>
                <ul class="social">
                  <li><a href="#" aria-hidden="true">Chi tiết</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="https://picsum.photos/130/130?image=856">
                </div>
                <div class="team-content">
                  <h5 class="name">Nguyễn Quốc Tuấn</h5>
                  <h4 class="title">Thành viên</h4>
                </div>
                <ul class="social">
                  <li><a href="#" aria-hidden="true">Chi tiết</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="https://picsum.photos/130/130?image=836">
                </div>
                <div class="team-content">
                  <h5 class="name">Nguyễn Huy</h5>
                  <h4 class="title">Thành viên</h4>
                </div>
                <ul class="social">
                  <li><a href="#" aria-hidden="true">Chi tiết</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
                </div>
                <div class="team-content">
                  <h5 class="name">Nguyễn Thanh Công</h5>
                  <h4 class="title">Trưởng nhóm</h4>
                </div>
                <ul class="social">
                  <li><a href="#" aria-hidden="true">Chi tiết</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="https://picsum.photos/130/130?image=839">
                </div>
                <div class="team-content">
                  <h5 class="name">Nguyễn Đức Hậu</h5>
                  <h4 class="title">Thành viên</h4>
                </div>
                <ul class="social">
                  <li><a href="#" aria-hidden="true">Chi tiết</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="https://picsum.photos/130/130?image=856">
                </div>
                <div class="team-content">
                  <h5 class="name">Nguyễn Quốc Tuấn</h5>
                  <h4 class="title">Thành viên</h4>
                </div>
                <ul class="social">
                  <li><a href="#" aria-hidden="true">Chi tiết</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="https://picsum.photos/130/130?image=836">
                </div>
                <div class="team-content">
                  <h5 class="name">Nguyễn Huy</h5>
                  <h4 class="title">Thành viên</h4>
                </div>
                <ul class="social">
                  <li><a href="#" aria-hidden="true">Chi tiết</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-mdb-target="#carouselExampleControls"
        data-mdb-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-mdb-target="#carouselExampleControls"
        data-mdb-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</div>
<div class="row mt-5">
  <div class="container">
    <div class="note1">
      <p style="font-size: 28px">Tiến độ nhóm</p>
    </div>
    <table class="table table-borderless">
      <tbody>
      <tr>
        <td class="text-center">
          <button class="btn font-weight-bold"
                  style="background-color: #4F9B65;color: white; border-radius: 1.5rem; min-width: 20%">Báo
            cáo tiến độ giai đoạn 1
          </button>
        </td>
        <td>
          <p style="font-weight: bold">Giai đoạn: 1 13-07-2021 20-07-2021 <span
            class="bg-success text-white">Hoàn thành</span>
          </p>
          <div class="progress" style="height: 15px;">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              style="width: 100%;"
              aria-valuenow="100"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              100%
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td width="40%" class="text-center">
          <button class="btn font-weight-bold"
                  style="background-color: #4F9B65;color: white; border-radius: 1.5rem; min-width: 20%">Báo
            cáo tiến độ giai đoạn 2
          </button>
        </td>
        <td>
          <p style="font-weight: bold">Giai đoạn: 1 13-07-2021 20-07-2021 <span
            class="bg-primary text-white">Đang làm</span>
          </p>
          <div class="progress" style="height: 15px;">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: 25%;"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              25%
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <button class="btn font-weight-bold"
                  style="background-color: #232300;color: white; border-radius: 1.5rem; min-width: 20%">Báo
            cáo tiến độ giai đoạn 3
          </button>
        </td>
        <td>
          <p style="font-weight: bold">Giai đoạn: 1 13-07-2021 20-07-2021 <span
            class="bg-dark text-white">Chưa mở</span>
          </p>
          <div class="progress" style="height: 15px;">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: 0%;"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              25%
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <button class="btn font-weight-bold"
                  style="background-color: #232300;color: white; border-radius: 1.5rem; min-width: 20%">Báo
            cáo tiến độ giai đoạn 4
          </button>
        </td>
        <td>
          <p style="font-weight: bold">Giai đoạn: 1 13-07-2021 20-07-2021 <span
            class="bg-dark text-white">Chưa mở</span>
          </p>
          <div class="progress" style="height: 15px;">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: 0%;"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              25%
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <button class="btn font-weight-bold"
                  style="background-color: #232300;color: white; border-radius: 1.5rem; min-width: 20%">Báo
            cáo tiến độ giai đoạn 5
          </button>
        </td>
        <td>
          <p style="font-weight: bold">Giai đoạn: 1 13-07-2021 20-07-2021 <span
            class="bg-dark text-white">Chưa mở</span>
          </p>
          <div class="progress" style="height: 15px;">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: 0%;"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              25%
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row mt-5">
  <div class="container text-center">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true"><span style="font-weight: bold">Đánh giá của giáo viên</span>
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false"><span style="font-weight: bold">Báo cáo của sinh viên</span>
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                role="tab" aria-controls="contact" aria-selected="false"><span style="font-weight: bold">Thắc mắc của sinh viên</span>
        </button>
      </li>
    </ul>
    <div class="tab-content bg-light" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="card" style="min-height: 1000px">
          <div class="card-body">
            <button class="btn font-weight-bold m-3"
                    style="background-color: #4F9B65; color: white;width: 25%; border-radius: 1.5rem"
                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                    data-bs-whatever="@getbootstrap"> Tạo đánh giá
            </button>
            <div class="container w-100">
              <div class="card p-3 my-3">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="user d-flex flex-row align-items-center">
                    <img src="https://i.imgur.com/hczKIze.jpg" width="30"
                         class="user-img rounded-circle mx-2"/>
                    <h6>
                      <small class="font-weight-bold text-primary">Đặng Chí Trung</small>
                    </h6>
                  </div>
                </div>
                <div>
                  <h5>
                    <small class="font-weight-bold">Tiến độ 1</small>
                  </h5>
                </div>

                <div class="action d-flex justify-content-start mt-2">
                  <div>
                    <table>
                      <tr>
                        <td>1.</td>
                        <td style="text-align: left!important;">Tiến độ create prototype bị
                          chậm, kiểm tra lại
                        </td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td style="text-align: left!important;">Thiết kế và tạo CSDL bị lỗi phần
                          user, check lại
                        </td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td style="text-align: left!important;">Create detail design chưa rõ
                          ràng
                        </td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>Mọi người tăng tốc độ làm việc, chạy deadline cho thứ 6 tuần tới
                          nha
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="action d-flex justify-content-between mt-2 align-items-center">
                  <div class="text-muted small text-center align-self-center">
                    <div class="row">
                      <table>
                        <tr>
                          <td>
                            <p>
                              <a data-bs-toggle="collapse" href="#collapseExample"
                                 role="button" aria-expanded="false"
                                 aria-controls="collapseExample">
                                <i class="far fa-comment mx-2"> Trả lời</i>
                              </a>
                            </p>
                          </td>
                          <td class="col-6" style="text-align: right">
                            <p>
                              12/07/2021
                            </p>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="collapse" id="collapseExample">
                      <form>
                        <div class="form-group">
                                                    <textarea style="border-radius: 1.5rem" id="comment" cols="200"
                                                              rows="5" name="comment" class="form-control"
                                                              rows="3"></textarea>
                        </div>
                        <div class="form-group mt-2" style="text-align: right!important;">
                          <button class="btn font-weight-bold"
                                  style="background-color: #616C8C; color: white; border-radius: 1.5rem; min-width: 7.5%">
                            Hủy
                          </button>
                          <input hidden type="file" id="test">
                          <button class="btn font-weight-bold"
                                  style="background-color: #0498D6; color: white; border-radius: 1.5rem; min-width: 10%"
                                  onclick="myFunction()">
                            Chọn ảnh
                          </button>
                          <button type="button" class="btn font-weight-bold"
                                  style="background-color: #4F9B65;color: white; border-radius: 1.5rem; min-width: 10%"
                          >Gửi
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="user d-flex flex-row align-items-center my-2 mx-5">
                  <table>
                    <tr>
                      <td rowspan="2" style="vertical-align: top">
                        <img src="https://i.imgur.com/C4egmYM.jpg"
                             width="30"
                             class="user-img rounded-circle mx-2">
                      </td>
                      <td style="text-align: left!important;">
                                                <span class="font-weight-bold text-primary">
                                                    Sinh viên A
                                                </span>
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align: left">
                        Cái này quá dễ với anh Công.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                        asperiores esse eum iste minus obcaecati quam repudiandae, veritatis
                        voluptas! Architecto assumenda beatae dolor enim mollitia nesciunt
                        provident quisquam quo repudiandae!
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="user d-flex flex-row align-items-center my-2 mx-5">
                  <table>
                    <tr>
                      <td rowspan="2" style="vertical-align: top">
                        <img src="https://i.imgur.com/C4egmYM.jpg"
                             width="30"
                             class="user-img rounded-circle mx-2">
                      </td>
                      <td style="text-align: left!important;">
                                                <span class="font-weight-bold text-primary">
                                                    Sinh viên B
                                                </span>
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align: left">
                        Cái này vẫn quá dễ với anh Công.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                        asperiores esse eum iste minus obcaecati quam repudiandae, veritatis
                        voluptas! Architecto assumenda beatae dolor enim mollitia nesciunt
                        provident quisquam quo repudiandae!
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="card p-3 my-3">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="user d-flex flex-row align-items-center">
                    <img src="https://i.imgur.com/ZSkeqnd.jpg"
                         width="30"
                         class="user-img rounded-circle mx-2">
                    <h6>
                      <small class="font-weight-bold text-primary">Trần Thị Tố Tâm</small>
                    </h6>
                  </div>
                </div>
                <div>
                  <h5>
                    <small class="font-weight-bold">Hoàn thành sản phẩm
                      Prototype: </small>
                  </h5>
                </div>
                <div class="action d-flex justify-content-start mt-2">
                  <div>
                    <table>
                      <tr>
                        <td>1.</td>
                        <td style="text-align: left!important;">Tiến độ create prototype bị
                          chậm, kiểm tra lại
                        </td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td style="text-align: left!important;">Thiết kế và tạo CSDL bị lỗi phần
                          user, check lại
                        </td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td style="text-align: left!important;">Create detail design chưa rõ
                          ràng
                        </td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>Mọi người tăng tốc độ làm việc, chạy deadline cho thứ 6 tuần tới
                          nha
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="action d-flex justify-content-between mt-2 align-items-center">
                  <div class="text-muted small">
                    <div class="row">
                      <table>
                        <tr>
                          <td>
                            <p>
                              <a data-bs-toggle="collapse" href="#collapseExample1"
                                 role="button" aria-expanded="false"
                                 aria-controls="collapseExample1">
                                <i class="far fa-comment mx-2"> Trả lời</i>
                              </a>
                            </p>
                          </td>
                          <td class="col-6" style="text-align: right">
                            <p>
                              12/07/2021
                            </p>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="collapse" id="collapseExample1">
                      <form>
                        <div class="form-group">
                                                    <textarea style="border-radius: 1.5rem" id="comment1" cols="200"
                                                              rows="5" name="comment" class="form-control"
                                                              rows="3"></textarea>
                        </div>
                        <div class="form-group mt-2" style="text-align: right!important;">
                          <button class="btn font-weight-bold"
                                  style="background-color: #616C8C; color: white; border-radius: 1.5rem; min-width: 7.5%">
                            Hủy
                          </button>
                          <input hidden type="file" id="test1">
                          <button class="btn font-weight-bold"
                                  style="background-color: #0498D6; color: white; border-radius: 1.5rem; min-width: 10%"
                                  onclick="myFunction1()">
                            Chọn ảnh
                          </button>
                          <button type="button" class="btn font-weight-bold"
                                  style="background-color: #4F9B65;color: white; border-radius: 1.5rem; min-width: 10%"
                          >Gửi
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="user d-flex flex-row align-items-center my-2 mx-5">
                  <table>
                    <tr>
                      <td rowspan="2" style="vertical-align: top">
                        <img src="https://i.imgur.com/C4egmYM.jpg"
                             width="30"
                             class="user-img rounded-circle mx-2">
                      </td>
                      <td style="text-align: left!important;">
                                                <span class="font-weight-bold text-primary">
                                                    Sinh viên C
                                                </span>
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align: left">
                        Cái này quá dễ với anh Công.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                        asperiores esse eum iste minus obcaecati quam repudiandae, veritatis
                        voluptas! Architecto assumenda beatae dolor enim mollitia nesciunt
                        provident quisquam quo repudiandae!
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="user d-flex flex-row align-items-center my-2 mx-5">
                  <table>
                    <tr>
                      <td rowspan="2" style="vertical-align: top">
                        <img src="https://i.imgur.com/C4egmYM.jpg"
                             width="30"
                             class="user-img rounded-circle mx-2">
                      </td>
                      <td style="text-align: left!important;">
                                                <span class="font-weight-bold text-primary">
                                                    Sinh viên D
                                                </span>
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align: left">
                        Cái này vẫn quá dễ với anh Công.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                        asperiores esse eum iste minus obcaecati quam repudiandae, veritatis
                        voluptas! Architecto assumenda beatae dolor enim mollitia nesciunt
                        provident quisquam quo repudiandae!
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>
</div>
<!-- New Thread Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Đánh giá của giáo viên</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Tiêu đề:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Nội dung đánh giá:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <div class="mb-3 form-group">
            <label>Đánh giá theo tỉ lệ:</label> <br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineRadio1"
                     value="option1">
              <label class="form-check-label" for="inlineRadio1">0%</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineRadio2"
                     value="option2">
              <label class="form-check-label" for="inlineRadio2">25%</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineRadio3"
                     value="option1">
              <label class="form-check-label" for="inlineRadio1">50%</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineRadio4"
                     value="option2">
              <label class="form-check-label" for="inlineRadio2">75%</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineRadio5"
                     value="option2">
              <label class="form-check-label" for="inlineRadio2">100%</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn font-weight-bold btn-modal"
                style="background-color: #616C8C; color: white; border-radius: 1.5rem" data-bs-dismiss="modal">
          Đóng
        </button>
        <button type="button" class="btn font-weight-bold btn-modal"
                style="background-color: #4F9B65; color: white; border-radius: 1.5rem">Gửi đánh giá
        </button>
      </div>
    </div>
  </div>
</div>
