/*Tam code create teacher css*/
#form {
  background-color: #ffffff;
  border-radius: 1%;
  box-shadow: 0 2px 12px 0 rgba(73, 78, 70, 0.68);
}
.form-check{
  display: inline-block !important;
}
/*Tam code create teacher css*/
