<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-7 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-5" >
              <div class="p-5">
                <div class="text-center">
                  <h1 class="mb-4">Đăng nhập</h1>
                  <hr>
                </div>
                <form class="user">
                  <div class="form-group">
                    <label for="userName">Tên đăng nhập <sup style="color: red">*</sup></label>
                    <input id="userName" type="text" class="form-control form-control-user"
                           placeholder="Tên đăng nhập...">
                    <span class="validate-msg">Vui lòng nhập tên đăng nhập.</span>
                  </div>
                  <div class="form-group">
                    <label for="password">Mật khẩu <sup style="color: red">*</sup></label>
                    <input id="password" type="password" class="form-control form-control-user"
                           placeholder="Mật khẩu...">
                    <span class="validate-msg">Vui lòng nhập mật khẩu.</span>
                  </div>

                  <div class="row mb-3">
                    <div class="col-md-12 text-left">
                      <div class="form-group">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class=" custom-control-input"
                                 id="customCheck">
                          <label class="custom-control-label" for="customCheck">Nhớ
                            mật khẩu</label>
                          <a  style="float: right"
                              routerLink="/user/forgotpassword">Quên mật khẩu?</a>
                        </div>
                        <div class="text-center">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <button class="btn btn-block font-weight-bold" routerLink="/user/information"
                            style="color: white;background-color: #4F9B65; border-radius: 1.5rem">
                      ĐĂNG NHẬP
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
